<div class="wrapper">
  <div class="head secondary-bg">
    <h1>{{data.service}}</h1>
  </div>
  <div class="body">
    <form [formGroup]="changePassword">
      <!-- <mat-form-field appearance="outline">
        <mat-label>New Username</mat-label>
        <input type="text" placeholder="New Username" formControlName="username" required matInput>
        <mat-error align="end" *ngIf="username.touched && username?.invalid">This is a required field!</mat-error>
      </mat-form-field> -->
      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Old Password</mat-label>
          <input [type]="hide ? 'password' : 'text'" formControlName="oldPass" placeholder="Old Password" required matInput>
          <!-- <button 
            type="button"
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'" 
            [attr.aria-pressed]="hide"
            mat-icon-button 
            matSuffix
          >
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button> -->
          <mat-error align="end" *ngIf="oldPass?.touched && oldPass?.invalid">This is a required field!</mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>New Password</mat-label>
          <input [type]="hide1 ? 'password' : 'text'" formControlName="newPass" placeholder="New Password" required matInput>
          <!-- <button 
            type="button"
            (click)="hide1 = !hide1"
            [attr.aria-label]="'Hide password'" 
            [attr.aria-pressed]="hide"
            mat-icon-button 
            matSuffix 
          >
            <mat-icon >{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button> -->
          <mat-error align="end" *ngIf="newPass?.touched && newPass?.invalid">This is a required field!</mat-error>
        </mat-form-field>
      </div>
      <!-- <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input type="text" formControlName="confirmPass" (keyup)="check()" placeholder="New Password" required matInput>
        <mat-error align="end" *ngIf="confirmPass?.touched && confirmPass?.invalid">This is a required field!</mat-error>
      </mat-form-field> -->
    </form>
  </div>
  <div class="actions">
    <div class="d-flex justify-content-center">
      <button color="primary" [disabled]="changePassword?.invalid" [mat-dialog-close]="changePassword.value" style="margin-right: 1rem;" mat-raised-button><mat-icon>save</mat-icon> <span>Save</span></button>
      <button color="warn" (click)="onNoClick()" mat-button><mat-icon>close</mat-icon> Close</button>
    </div>
  </div>
</div>