<div class="dialog-wrapper width-700">
  <div class="title">New Attribute</div>

  <div class="body">
    <mat-form-field appearance="outline">
      <mat-label>Group name</mat-label>
      <input type="text" [(ngModel)]="groupName" matInput required />
    </mat-form-field>
    <p class="ml-2 mb-2">
      <mat-checkbox [(ngModel)]="allowMultiple">
        Allow for multiple selection
      </mat-checkbox>
    </p>
    <p class="mb-0">
      <span>Leave price at 0 if value comes at no extra cost</span>
    </p>

    <div class="d-flex justify-content-between align-items-center">
      <h3 class="mb-0">Values - {{ attributes.length }}</h3>
      <button
        mat-icon-button
        matTooltip="Add new attribute"
        type="button"
        color="primary"
        (click)="addNewAttribute()"
      >
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>

    <div class="sub">
      <div class="warn-info" *ngIf="attributes.length == 0">
        <span>Attribute cannot be created without values!</span>
      </div>
      <div class="row mb-0" *ngFor="let attribute of attributes; let i = index">
        <div class="col-md-1 d-flex justify-content-center pt-2">
          <button
            mat-icon-button
            color="warn"
            type="button"
            matTooltip="Remove value"
            (click)="removeAttribute(i)"
          >
            <mat-icon>remove_circle</mat-icon>
          </button>
        </div>
        <div class="col-md-8">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input
              type="text"
              matInput
              required
              [(ngModel)]="attribute.attributeName"
            />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Price</mat-label>
            <input
              type="number"
              matInput
              min="0"
              [(ngModel)]="attribute.price"
            />
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div class="actions">
    <button mat-stroked-button color="warn" type="button" (click)="onNoClick()">
      <mat-icon>cancel</mat-icon>
      <span>Cancel</span>
    </button>
    <button
      mat-flat-button
      color="primary"
      [disabled]="validateForm()"
      (click)="addAttribute()"
    >
      <mat-icon>bookmark_add</mat-icon>
      <span>Add Attribute</span>
    </button>
  </div>
</div>
