<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">

  <!-- Footer Elements -->
  <div class="container text-center">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-3 d-flex justify-content-center">
        <div class="mb-2" style="width: 30%;display: flex; justify-content: space-evenly;">

          <!-- Facebook -->
          <a class="fb-ic"
            href="https://www.facebook.com/1CBSG/?__tn__=%2Cd%2CP-R&eid=ARCY2Qo_sv43Avngn56tAOItB-qvWwF_hf8T9pyUei60whMcxGuMwANOGFwSzlmRcO4M6apZEIleQ5C0"
            target="_blank">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic" href="https://twitter.com/Casantey" target="_blank">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic" href="https://www.linkedin.com/company/casantey-business-systems-solutions-ltd/about/"
            target="_blank">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic" href="https://www.instagram.com/casanteyca/" target="_blank">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-1 flex flex-center">© {{dateToday | date: 'MMMM yyyy'}} Copyright:
    <a href="https://www.casanteybusinesssystems.com/" target="_blank">Casantey Business Solutions Group</a>
  </div>
  <!-- Copyright -->

  <div class="d-flex justify-content-center"
    style="padding: 0.1rem; font-size: 0.7rem; font-weight: 500; letter-spacing: 1px;">
    <span>{{version}}</span>
  </div>

</footer>
<!-- Footer -->