@import '~@angular/material/theming';
@include mat-core();

$clickOrderEat-primary: mat-palette($mat-light-blue);
$clickOrderEat-accent: mat-palette($mat-amber, A200, A100, A400);
$clickOrderEat-warn: mat-palette($mat-red);

$clickOrderEat-theme: mat-light-theme((
  color: (
    primary: $clickOrderEat-primary,
    accent: $clickOrderEat-accent,
    warn: $clickOrderEat-warn,
  )
));

@include angular-material-theme($clickOrderEat-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
